@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Schoolbell&family=Tenor+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

nav .head-box {
  background-color: black;
  padding: 12px 0;
  margin-bottom: 40px;
}
nav .head-box .head-box--item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 231px;
}
nav .head-box .head-box--item div {
  display: flex;
  gap: 10px;
  align-items: center;
}
nav .head-box .head-box--item div p {
  color: var(--Text, #FAFAFA);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
nav .head-box .head-box--item div a {
  color: var(--Text, #FAFAFA);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  text-decoration-line: underline;
}
nav .head-box .head-box--item select {
  border: none;
  background-color: black;
  color: white;
}
nav .head-box2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.106);
  padding-bottom: 46px;
}
nav .head-box2 .head-box2--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .head-box2 .head-box2--item a {
  color: var(--Text2, #000);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
}
nav .head-box2 .head-box2--item ul {
  display: flex;
  align-items: center;
  gap: 48px;
}
nav .head-box2 .head-box2--item ul li a {
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
nav .head-box2 .head-box2--item div {
  display: flex;
  align-items: center;
  gap: 26px;
}
nav .head-box2 .head-box2--item div .header-input {
  display: flex;
  position: relative;
  width: 243px;
  align-items: center;
  background: #F5F5F5;
}
nav .head-box2 .head-box2--item div .header-input input {
  padding: 7px 30px;
  border: none;
  width: 223px;
  color: var(--Text2, #000);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  background: #F5F5F5;
}
nav .head-box2 .head-box2--item div .header-input svg {
  position: absolute;
  right: 10px;
  top: 2px;
}
nav .head-box2 .head-box2--item .head-box2-div {
  position: relative;
}
nav .head-box2 .head-box2--item .head-box2-div .logo:hover a {
  background-color: #DB4444;
  border-radius: 100%;
}
nav .head-box2 .head-box2--item .head-box2-div .logo:hover a span svg path {
  stroke: white;
}
nav .head-box2 .head-box2--item .head-box2-div .logo:hover .ul-panel li a {
  background-color: transparent;
}
nav .head-box2 .head-box2--item .head-box2-div .logo:hover .ul-panel {
  display: block;
  z-index: 5;
}
nav .head-box2 .head-box2--item .head-box2-div .logo:hover .ul-panel li:hover {
  background-color: rgba(245, 245, 245, 0.3137254902);
  width: 100%;
}
nav .head-box2 .head-box2--item .head-box2-div .ul-panel {
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  display: none;
  right: 0;
  top: 28px;
  background: black;
  width: 230px;
}
nav .head-box2 .head-box2--item .head-box2-div .ul-panel li {
  margin-bottom: 25px;
}
nav .head-box2 .head-box2--item .head-box2-div .ul-panel li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
nav .head-box2 .head-box2--item .head-box2-div .ul-panel li a p {
  color: var(--Text, #FAFAFA);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.428);
}

.swiper {
  margin-top: 40px;
  width: 100%;
  height: 358px;
}

.swiper-slide {
  display: flex;
  background: black;
  justify-content: space-between;
}
.swiper-slide .swiper-slide-box1 {
  margin-top: 58px;
  margin-left: 64px;
}
.swiper-slide .swiper-slide-box1 div {
  display: flex;
  align-items: center;
  gap: 24px;
}
.swiper-slide .swiper-slide-box1 div p {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.swiper-slide .swiper-slide-box1 h2 {
  margin-top: 20px;
  width: 304px;
  color: var(--Text, #FAFAFA);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: 1.92px;
  margin-bottom: 22px;
}
.swiper-slide .swiper-slide-box1 button {
  display: flex;
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  background: transparent;
  border: none;
  gap: 15px;
  cursor: pointer;
  border-bottom: 1px solid white;
}
.swiper-slide .swiper-slide-box2 {
  position: relative;
}
.swiper-slide .swiper-slide-box2 img {
  position: absolute;
  right: 0;
  bottom: -35px;
}

.swiperr {
  position: relative;
  width: 1400px;
  height: 600px;
  overflow: hidden;
}
.swiperr .swiper-wrapper .swiper-slide {
  border-radius: 4px;
  background: var(--Secondary, #F5F5F5);
}
.swiperr .swiper-wrapper .swiper-slide img {
  margin-top: 154px;
  padding: 0 27px;
}

.slide-section {
  display: flex;
  margin-bottom: 140px;
  gap: 45px;
}
.slide-section .aside ul {
  padding-top: 30px;
  padding-right: 10px;
  width: 200px;
}
.slide-section .aside ul li {
  margin-bottom: 16px;
}
.slide-section .aside ul li a p {
  color: var(--Text2, #000);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.title-section-1 {
  display: flex;
  gap: 15px;
  color: var(--Secondary-2, #DB4444);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  align-items: center;
  margin-bottom: 24px;
}

.sales-grup .sales1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}
.sales-grup .sales1 h2 {
  color: var(--Text2, #000);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.44px;
}
.sales-grup .sales1 div {
  display: flex;
  gap: 20px;
  width: 300px;
  justify-content: end;
}
.sales-grup .sales1 div span svg {
  cursor: pointer;
}
.sales-grup .sales2 {
  overflow: hidden;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px 270px;
  gap: 30px;
  grid-template-rows: 400px;
}
.sales-grup .sales2 .sales2-item {
  height: 400px;
}
.sales-grup .sales2 .sales2-item:hover .rasm button {
  opacity: 1;
  transition: all 0.1s linear;
}
.sales-grup .sales2 .sales2-item .rasm {
  position: relative;
  height: 300px;
  background: #F5F5F5;
  padding: 12px;
}
.sales-grup .sales2 .sales2-item .rasm p {
  border-radius: 12px;
  color: white;
  text-align: center;
  width: 55px;
  display: block;
  padding: 8px 12px;
  gap: 10px;
  background-color: #DB4444;
}
.sales-grup .sales2 .sales2-item .rasm img {
  margin-top: 20px !important;
  display: block;
  margin: 0 auto;
}
.sales-grup .sales2 .sales2-item .rasm button {
  margin-top: 30px;
  color: white;
  background-color: #000;
  display: block;
  width: 100%;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
}
.sales-grup .sales2 .sales2-item .rasm .img1 {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.sales-grup .sales2 .sales2-item .rasm .img2 {
  position: absolute;
  top: 59px;
  right: 12px;
  cursor: pointer;
}
.sales-grup .sales2 .sales2-item p:nth-child(2) {
  margin-top: 16px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-bottom: 8px;
}
.sales-grup .sales2 .sales2-item p:nth-child(3) {
  color: var(--Secondary-2, #DB4444);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.sales-grup .sales2 .sales2-item p:nth-child(3) span:last-child {
  color: var(--Button, #000);
  opacity: 0.5;
  text-decoration-line: line-through;
}
.sales-grup .sales3 {
  margin-top: 60px !important;
  display: block;
  margin: 0 auto;
  padding: 16px 48px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  cursor: pointer;
  margin-bottom: 150px;
}
.sales-grup .sales3:hover {
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}

.category-wrapper {
  margin-bottom: 150px;
}
.category-wrapper .category1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}
.category-wrapper .category1 h2 {
  color: var(--Text2, #000);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.44px;
}
.category-wrapper .category1 div {
  display: flex;
  gap: 20px;
  width: 300px;
  justify-content: end;
}
.category-wrapper .category1 div span svg {
  cursor: pointer;
}
.category-wrapper .category2 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.category-wrapper .category2 div {
  padding-top: 30px;
  width: 170px;
  height: 145px;
  text-align: center;
}
.category-wrapper .category2 div:hover {
  border-radius: 8px;
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
}
.category-wrapper .category2 div:hover span svg path {
  stroke: white;
}
.category-wrapper .category2 div:hover span svg line {
  stroke: white;
}

.sell-wrapper {
  margin-bottom: 140px;
}
.sell-wrapper .sell1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}
.sell-wrapper .sell1 h2 {
  color: var(--Text2, #000);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.44px;
}
.sell-wrapper .sell1 div {
  display: flex;
  gap: 20px;
  width: 300px;
  justify-content: end;
}
.sell-wrapper .sell1 div span svg {
  cursor: pointer;
}
.sell-wrapper .sell1 button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  padding: 16px 0px;
  height: 60px;
  width: 159px;
  cursor: pointer;
}
.sell-wrapper .sell1 button:hover {
  background-color: #DB4444;
  color: white;
  border: none;
  transition: all 0.1s linear;
}
.sell-wrapper .sell2 {
  overflow: hidden;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px 270px;
  gap: 30px;
  grid-template-rows: 400px;
}
.sell-wrapper .sell2 .sell2-item {
  height: 400px;
}
.sell-wrapper .sell2 .sell2-item:hover .rasm button {
  opacity: 1;
  transition: all 0.1s linear;
}
.sell-wrapper .sell2 .sell2-item .rasm {
  position: relative;
  height: 300px;
  background: #F5F5F5;
  padding: 12px;
}
.sell-wrapper .sell2 .sell2-item .rasm p {
  border-radius: 12px;
  color: white;
  text-align: center;
  width: 55px;
  display: block;
  padding: 8px 12px;
  gap: 10px;
  background-color: #DB4444;
}
.sell-wrapper .sell2 .sell2-item .rasm img {
  margin-top: 60px !important;
  display: block;
  margin: 0 auto;
}
.sell-wrapper .sell2 .sell2-item .rasm button {
  margin-top: 30px;
  color: white;
  background-color: #000;
  display: block;
  width: 100%;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
}
.sell-wrapper .sell2 .sell2-item .rasm .img1 {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.sell-wrapper .sell2 .sell2-item .rasm .img2 {
  position: absolute;
  top: 59px;
  right: 12px;
  cursor: pointer;
}
.sell-wrapper .sell2 .sell2-item p:nth-child(2) {
  margin-top: 16px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-bottom: 8px;
}
.sell-wrapper .sell2 .sell2-item p:nth-child(3) {
  color: var(--Secondary-2, #DB4444);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.sell-wrapper .sell2 .sell2-item p:nth-child(3) span:last-child {
  color: var(--Button, #000);
  opacity: 0.5;
  text-decoration-line: line-through;
}

.banner-wrapper {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  background: var(--Button, #000);
  margin-bottom: 81px;
  height: 500px;
  margin-bottom: 81px;
}
.banner-wrapper .banner-chap {
  padding-top: 69px;
  padding-left: 56px;
}
.banner-wrapper .banner-chap p:first-child {
  color: var(--Button1, #0F6);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  margin-bottom: 32px;
}
.banner-wrapper .banner-chap h2 {
  width: 453px;
  color: var(--Text, #FAFAFA);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: 1.92px;
}
.banner-wrapper .banner-chap ul {
  display: flex;
  gap: 20px;
  margin-top: 32px;
  margin-bottom: 40px;
  width: 82px;
  height: 82px;
}
.banner-wrapper .banner-chap ul li {
  text-align: center;
  background: white;
  padding: 14px 17px;
  border-radius: 100%;
}
.banner-wrapper .banner-chap ul li h3 {
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
  line-height: 20px; /* 125% */
}
.banner-wrapper .banner-chap ul li p {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 163.636% */
  width: 48px;
}
.banner-wrapper .banner-chap button {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  padding: 16px 48px;
  border-radius: 4px;
  background: var(--Button1, #0F6);
}
.banner-wrapper .banner-chap button:hover {
  background-color: rgba(10, 207, 89, 0.323);
  transition: all 0.1s linear;
  cursor: pointer;
}
.banner-wrapper .banner-ong {
  position: relative;
}
.banner-wrapper .banner-ong div {
  margin-right: 50px;
  margin-top: 20px;
  width: 500px;
  height: 500px;
  border-radius: 504px;
  opacity: 0.3;
  background: #D9D9D9;
  filter: blur(100px);
}
.banner-wrapper .banner-ong img {
  position: absolute;
  right: 50px;
  top: 76px;
}

.our-wrapper .our1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 60px;
}
.our-wrapper .our1 h2 {
  color: var(--Text2, #000);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.44px;
}
.our-wrapper .our1 div {
  display: flex;
  gap: 20px;
  width: 300px;
  justify-content: end;
}
.our-wrapper .our1 div span svg {
  cursor: pointer;
}
.our-wrapper .our2 {
  overflow: hidden;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 30px;
  grid-template-rows: 400px 400px;
}
.our-wrapper .our2 .our2-item {
  height: 400px;
}
.our-wrapper .our2 .our2-item:hover .rasm button {
  opacity: 1;
  transition: all 0.1s linear;
}
.our-wrapper .our2 .our2-item .rasm {
  position: relative;
  height: 300px;
  background: #F5F5F5;
  padding: 12px;
}
.our-wrapper .our2 .our2-item .rasm p {
  border-radius: 12px;
  color: white;
  text-align: center;
  width: 55px;
  display: block;
  padding: 8px 12px;
  gap: 10px;
  background-color: #00FF66;
}
.our-wrapper .our2 .our2-item .rasm img {
  margin-top: 60px !important;
  display: block;
  margin: 0 auto;
}
.our-wrapper .our2 .our2-item .rasm button {
  margin-top: 30px;
  color: white;
  background-color: #000;
  display: block;
  width: 100%;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
}
.our-wrapper .our2 .our2-item .rasm .img1 {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.our-wrapper .our2 .our2-item .rasm .img2 {
  position: absolute;
  top: 59px;
  right: 12px;
  cursor: pointer;
}
.our-wrapper .our2 .our2-item p:nth-child(2) {
  margin-top: 16px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-bottom: 8px;
}
.our-wrapper .our2 .our2-item p:nth-child(3) {
  color: var(--Secondary-2, #DB4444);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.our-wrapper .our2 .our2-item p:nth-child(3) span:last-child {
  color: var(--Button, #000);
  opacity: 0.5;
  text-decoration-line: line-through;
}
.our-wrapper .our3 {
  margin-top: 60px !important;
  display: block;
  margin: 0 auto;
  padding: 16px 48px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  cursor: pointer;
  margin-bottom: 150px;
}
.our-wrapper .our3:hover {
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}

.grid-wrapper {
  margin-bottom: 140px;
  margin-top: 60px;
  display: grid;
  gap: 30px;
  grid-template-columns: 270px 270px 270px 270px;
  grid-template-rows: 300px 300px;
  grid-template-areas: "rasm1 rasm1 rasm2 rasm2" "rasm1 rasm1 rasm3 rasm4";
}
.grid-wrapper .grid-item1 {
  background: #000;
  grid-area: rasm1;
  position: relative;
}
.grid-wrapper .grid-item1 img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.grid-wrapper .grid-item1 h3 {
  position: absolute;
  color: var(--Text, #FAFAFA);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
  top: 426px;
  left: 32px;
  margin-bottom: 16px;
}
.grid-wrapper .grid-item1 p {
  position: absolute;
  width: 242px;
  color: #FAFAFA;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  top: 486px;
  left: 32px;
}
.grid-wrapper .grid-item1 a {
  position: absolute;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  top: 544px;
  left: 32px;
  border-bottom: 1px solid white;
}
.grid-wrapper .grid-item2 {
  background: #000;
  grid-area: rasm2;
  position: relative;
}
.grid-wrapper .grid-item2 img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.grid-wrapper .grid-item2 h3 {
  position: absolute;
  color: var(--Text, #FAFAFA);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
  top: 138px;
  left: 24px;
}
.grid-wrapper .grid-item2 p {
  position: absolute;
  width: 242px;
  color: #FAFAFA;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  top: 178px;
  left: 24px;
}
.grid-wrapper .grid-item2 a {
  position: absolute;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  top: 216px;
  left: 24px;
  border-bottom: 1px solid white;
}
.grid-wrapper .grid-item3 {
  background: #000;
  grid-area: rasm3;
  position: relative;
}
.grid-wrapper .grid-item3 img {
  position: absolute;
  right: 40px;
  top: 31px;
}
.grid-wrapper .grid-item3 h3 {
  position: absolute;
  color: var(--Text, #FAFAFA);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
  top: 175px;
  left: 24px;
  margin-bottom: 16px;
}
.grid-wrapper .grid-item3 p {
  position: absolute;
  width: 242px;
  color: #FAFAFA;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  top: 207px;
  left: 24px;
}
.grid-wrapper .grid-item3 a {
  position: absolute;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  top: 236px;
  left: 24px;
  border-bottom: 1px solid white;
}
.grid-wrapper .grid-item4 {
  background: #000;
  grid-area: rasm4;
  position: relative;
}
.grid-wrapper .grid-item4 img {
  position: absolute;
  right: 35px;
  top: 38px;
}
.grid-wrapper .grid-item4 h3 {
  position: absolute;
  color: var(--Text, #FAFAFA);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
  top: 175px;
  left: 24px;
  margin-bottom: 16px;
}
.grid-wrapper .grid-item4 p {
  position: absolute;
  width: 242px;
  color: #FAFAFA;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  top: 207px;
  left: 24px;
}
.grid-wrapper .grid-item4 a {
  position: absolute;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  top: 236px;
  left: 24px;
  border-bottom: 1px solid white;
}

.servislar {
  position: relative;
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  gap: 88px;
}
.servislar div {
  text-align: center;
}
.servislar div h4 {
  color: #000;
  margin-top: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  margin-bottom: 8px;
}
.servislar div p {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.servislar a {
  position: absolute;
  bottom: -110px;
  right: 0;
}

footer {
  padding: 70px 0;
  background: #000000;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 87px;
}
.footer .foter1 {
  width: 217px;
}
.footer .foter1 li:nth-child(1) {
  margin-bottom: 24px;
}
.footer .foter1 li:nth-child(1) a {
  color: var(--Text, #FAFAFA);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
}
.footer .foter1 li:nth-child(2) a {
  color: var(--Text, #FAFAFA);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
.footer .foter1 li:nth-child(3) {
  margin-top: 24px;
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 16px;
}
.footer .foter1 li:nth-child(4) {
  display: flex;
  align-items: center;
}
.footer .foter1 li:nth-child(4) input {
  padding: 12px 16px;
  width: 217px;
  background-color: transparent;
  border: none;
  color: white;
}
.footer .foter2 {
  width: 175px;
}
.footer .foter2 li:nth-child(1) {
  margin-bottom: 24px;
}
.footer .foter2 li:nth-child(1) a {
  color: var(--Text, #FAFAFA);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
.footer .foter2 li:nth-child(2) {
  margin-bottom: 16px;
}
.footer .foter2 li:nth-child(2) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter2 li:nth-child(3) {
  margin-bottom: 16px;
}
.footer .foter2 li:nth-child(3) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter2 li:nth-child(4) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter3 {
  width: 123px !important;
}
.footer .foter3 li:nth-child(1) {
  margin-bottom: 24px;
}
.footer .foter3 li:nth-child(1) a {
  color: var(--Text, #FAFAFA);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
.footer .foter3 li:nth-child(2) {
  margin-bottom: 16px;
}
.footer .foter3 li:nth-child(2) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter3 li:nth-child(3) {
  width: 123px;
  margin-bottom: 16px;
}
.footer .foter3 li:nth-child(3) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter3 li:nth-child(4) {
  margin-bottom: 16px;
}
.footer .foter3 li:nth-child(4) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter3 li:nth-child(5) {
  margin-bottom: 16px;
}
.footer .foter3 li:nth-child(5) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter3 li:nth-child(6) {
  margin-bottom: 16px;
}
.footer .foter3 li:nth-child(6) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter4 {
  width: 121px;
}
.footer .foter4 li:nth-child(1) {
  margin-bottom: 24px;
}
.footer .foter4 li:nth-child(1) a {
  color: var(--Text, #FAFAFA);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
.footer .foter4 li:nth-child(2) {
  margin-bottom: 16px;
}
.footer .foter4 li:nth-child(2) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter4 li:nth-child(3) {
  width: 123px;
  margin-bottom: 16px;
}
.footer .foter4 li:nth-child(3) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter4 li:nth-child(4) {
  margin-bottom: 16px;
}
.footer .foter4 li:nth-child(4) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter4 li:nth-child(5) {
  margin-bottom: 16px;
}
.footer .foter4 li:nth-child(5) a {
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer .foter5 {
  width: 194px;
}
.footer .foter5 h2 {
  color: var(--Text, #FAFAFA);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  margin-bottom: 24px;
}
.footer .foter5 p {
  width: 194px;
  color: var(--Text, #FAFAFA);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  margin-bottom: 8px;
}
.footer .foter5 div {
  display: flex;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 24px;
  height: 76px;
}
.footer .foter5 div div {
  display: flex;
  flex-direction: column;
}
.footer .foter5 ul {
  display: flex;
  gap: 24px;
}
.footer .foter5 ul li:hover a svg path {
  fill: aqua !important;
}

.sing-wrapper {
  margin-bottom: 100px;
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  gap: 50px;
}
.sing-wrapper .sing-left img {
  width: 700px;
  height: 700px;
}
.sing-wrapper .sing-right {
  margin-top: 120px;
  width: 370px !important;
}
.sing-wrapper .sing-right h2 {
  width: 100%;
  display: block;
  color: var(--Text2, #000);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 83.333% */
  letter-spacing: 1.44px;
  margin-bottom: 24px;
}
.sing-wrapper .sing-right p {
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 48px;
}
.sing-wrapper .sing-right label {
  display: flex;
  flex-direction: column;
}
.sing-wrapper .sing-right label input {
  border: none;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.299);
  padding: 10px 0;
}
.sing-wrapper .sing-right .button1 {
  width: 100%;
  display: block;
  padding: 16px 0;
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  border-radius: 4px;
  background: var(--Button2, #DB4444);
  border: none;
  margin-bottom: 16px;
}
.sing-wrapper .sing-right .button2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 12px 0;
  color: var(--Text2, #000);
  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 34px;
}
.sing-wrapper .sing-right div {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: start;
}
.sing-wrapper .sing-right div p {
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.sing-wrapper .sing-right div a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.317);
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.login {
  display: flex;
  gap: 129px;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 140px;
}
.login .login-left img {
  width: 700px;
  height: 700px;
}
.login .login-right {
  margin-top: 120px;
}
.login .login-right h2 {
  display: block;
  color: var(--Text2, #000);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 83.333% */
  letter-spacing: 1.44px;
  margin-bottom: 24px;
}
.login .login-right p {
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 48px;
}
.login .login-right label {
  display: flex;
  flex-direction: column;
}
.login .login-right label input {
  border: none;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.299);
  padding: 10px 0;
}
.login .login-right div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.login .login-right div .button1 {
  width: 143px;
  display: block;
  padding: 16px 0;
  color: var(--Text, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  border-radius: 4px;
  background: var(--Button2, #DB4444);
  border: none;
  margin-bottom: 16px;
}
.login .login-right div a {
  color: var(--Secondary-2, #DB4444);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border: none;
}

.wishlist-wrapper {
  margin-bottom: 95px;
}
.wishlist-wrapper .wishlist-top {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  margin-bottom: 75px;
}
.wishlist-wrapper .wishlist-top p {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
}
.wishlist-wrapper .wishlist-top button {
  width: 223px;
  height: 56px;
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  line-height: 24px; /* 150% */
}
.wishlist-wrapper .wishlist-top button:hover {
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}
.wishlist-wrapper .wishlist-bottom {
  overflow: hidden;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px 270px;
  gap: 30px;
  grid-template-rows: 400px;
}
.wishlist-wrapper .wishlist-bottom .wishlist-item {
  height: 400px;
}
.wishlist-wrapper .wishlist-bottom .rasm {
  position: relative;
  height: 300px;
  background: #F5F5F5;
  padding: 12px;
}
.wishlist-wrapper .wishlist-bottom .rasm p {
  border-radius: 12px;
  color: white;
  text-align: center;
  width: 55px;
  display: block;
  padding: 8px 12px;
  gap: 10px;
  background-color: #DB4444;
}
.wishlist-wrapper .wishlist-bottom .rasm img {
  margin-top: 20px !important;
  display: block;
  margin: 0 auto;
}
.wishlist-wrapper .wishlist-bottom .rasm button {
  margin-top: 30px;
  color: white;
  background-color: #000;
  display: block;
  width: 100%;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 1;
}
.wishlist-wrapper .wishlist-bottom .rasm .img1 {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.wishlist-wrapper .wishlist-bottom .rasm .img2 {
  position: absolute;
  top: 59px;
  right: 12px;
  cursor: pointer;
}
.wishlist-wrapper .wishlist-bottom p:nth-child(2) {
  margin-top: 16px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-bottom: 8px;
}
.wishlist-wrapper .wishlist-bottom p:nth-child(3) {
  color: var(--Secondary-2, #DB4444);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.wishlist-wrapper .wishlist-bottom p:nth-child(3) span:last-child {
  color: var(--Button, #000);
  opacity: 0.5;
  text-decoration-line: line-through;
}

.wishlist2-wrapper {
  margin-bottom: 140px;
}
.wishlist2-wrapper .wishlist2-top {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  margin-bottom: 75px;
}
.wishlist2-wrapper .wishlist2-top p {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
}
.wishlist2-wrapper .wishlist2-top button {
  width: 153px;
  height: 56px;
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  line-height: 24px; /* 150% */
}
.wishlist2-wrapper .wishlist2-top button:hover {
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}
.wishlist2-wrapper .wishlist2-bottom {
  overflow: hidden;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px 270px;
  gap: 30px;
  grid-template-rows: 400px;
}
.wishlist2-wrapper .wishlist2-bottom .wishlist-item {
  height: 400px;
}
.wishlist2-wrapper .wishlist2-bottom .rasm {
  position: relative;
  height: 300px;
  background: #F5F5F5;
  padding: 12px;
}
.wishlist2-wrapper .wishlist2-bottom .rasm p {
  border-radius: 12px;
  color: white;
  text-align: center;
  width: 55px;
  display: block;
  padding: 8px 12px;
  gap: 10px;
  background-color: #DB4444;
}
.wishlist2-wrapper .wishlist2-bottom .rasm img {
  margin-top: 20px !important;
  display: block;
  margin: 0 auto;
}
.wishlist2-wrapper .wishlist2-bottom .rasm button {
  margin-top: 30px;
  color: white;
  background-color: #000;
  display: block;
  width: 100%;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 1;
}
.wishlist2-wrapper .wishlist2-bottom .rasm .img1 {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.wishlist2-wrapper .wishlist2-bottom .rasm .img2 {
  position: absolute;
  top: 59px;
  right: 12px;
  cursor: pointer;
}
.wishlist2-wrapper .wishlist2-bottom p:nth-child(2) {
  margin-top: 16px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-bottom: 8px;
}
.wishlist2-wrapper .wishlist2-bottom p:nth-child(3) {
  color: var(--Secondary-2, #DB4444);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.wishlist2-wrapper .wishlist2-bottom p:nth-child(3) span:last-child {
  color: var(--Button, #000);
  opacity: 0.5;
  text-decoration-line: line-through;
}

.gamepad-wrapper {
  margin-bottom: 150px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.gamepad-wrapper .gamepad-box1 {
  margin-right: 30px;
}
.gamepad-wrapper .gamepad-box1 ul {
  display: flex;
  flex-direction: column;
}
.gamepad-wrapper .gamepad-box1 ul li {
  margin-bottom: 20px;
  padding: 12px 25px;
  background: #F5F5F5;
}
.gamepad-wrapper .gamepad-box3 {
  margin-left: 70px;
  width: 100%;
}
.gamepad-wrapper .gamepad-box3 h3 {
  color: var(--Text2, #000);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
  margin-bottom: 16px;
}
.gamepad-wrapper .gamepad-box3 h4 {
  color: var(--Text2, #000);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.gamepad-wrapper .gamepad-box3 .p-first {
  color: #000;
  margin-bottom: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.gamepad-wrapper .gamepad-box3 .tugma {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.gamepad-wrapper .gamepad-box3 .size {
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.6px;
  align-items: center;
}
.gamepad-wrapper .gamepad-box3 .size ul {
  display: flex;
  gap: 15px;
}
.gamepad-wrapper .gamepad-box3 .size ul li {
  border: 1px solid black;
  padding: 5px;
  border-radius: 4px;
}
.gamepad-wrapper .gamepad-box3 .size ul li:hover {
  cursor: pointer;
  background: #DB4444;
  color: white;
  border: none;
  transition: all 0.1s linear;
}
.gamepad-wrapper .gamepad-box3 .buynow {
  display: flex;
  justify-content: space-between;
}
.gamepad-wrapper .gamepad-box3 .buynow div {
  height: 44px;
  display: flex;
}
.gamepad-wrapper .gamepad-box3 .buynow div span {
  text-align: center;
  border: 1px solid black;
  width: 44px;
  height: 44px;
  padding-top: 10px;
  cursor: pointer;
}
.gamepad-wrapper .gamepad-box3 .buynow div span:hover {
  background-color: #DB4444;
  color: white;
  border: none;
  transition: all 0.1s linear;
}
.gamepad-wrapper .gamepad-box3 .buynow div span:hover svg path {
  stroke: white;
}
.gamepad-wrapper .gamepad-box3 .buynow div span:nth-child(2) {
  width: 102px;
}
.gamepad-wrapper .gamepad-box3 .buynow button {
  height: 44px;
  width: 158px;
  padding: 10px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  cursor: pointer;
}
.gamepad-wrapper .gamepad-box3 .buynow button:hover {
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}
.gamepad-wrapper .gamepad-box3 .buynow a {
  margin-bottom: 40px;
  width: 44px;
  height: 44px;
  border: 1px solid black;
  text-align: center;
}
.gamepad-wrapper .gamepad-box3 .buynow a:hover {
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}
.gamepad-wrapper .gamepad-box3 .buynow a:hover span svg path {
  stroke: white;
}
.gamepad-wrapper .gamepad-box3 .delevery .wrapper--box1 {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid black;
}
.gamepad-wrapper .gamepad-box3 .delevery .wrapper--box1 div h4 {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.gamepad-wrapper .gamepad-box3 .delevery .wrapper--box2 {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid black;
}
.gamepad-wrapper .gamepad-box3 .delevery .wrapper--box2 div h4 {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.title-p {
  padding-top: 80px;
  color: var(--Text2, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  opacity: 0.5;
}

.related-wrapper {
  margin-bottom: 140px;
}
.related-wrapper .related-top {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  margin-bottom: 75px;
}
.related-wrapper .related-top p {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
}
.related-wrapper .related-top button {
  width: 153px;
  height: 56px;
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  line-height: 24px; /* 150% */
}
.related-wrapper .related-top button:hover {
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}
.related-wrapper .related-bottom {
  overflow: hidden;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px 270px;
  gap: 30px;
  grid-template-rows: 400px;
}
.related-wrapper .related-bottom .related-item {
  height: 400px;
}
.related-wrapper .related-bottom .rasm {
  position: relative;
  height: 300px;
  background: #F5F5F5;
  padding: 12px;
}
.related-wrapper .related-bottom .rasm:hover button {
  transition: all 0.1s linear;
  opacity: 1;
}
.related-wrapper .related-bottom .rasm p {
  border-radius: 12px;
  color: white;
  text-align: center;
  width: 55px;
  display: block;
  padding: 8px 12px;
  gap: 10px;
  background-color: #DB4444;
}
.related-wrapper .related-bottom .rasm img {
  margin-top: 20px !important;
  display: block;
  margin: 0 auto;
}
.related-wrapper .related-bottom .rasm button {
  margin-top: 30px;
  color: white;
  background-color: #000;
  display: block;
  width: 100%;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
}
.related-wrapper .related-bottom .rasm .img1 {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.related-wrapper .related-bottom .rasm .img2 {
  position: absolute;
  top: 59px;
  right: 12px;
  cursor: pointer;
}
.related-wrapper .related-bottom p:nth-child(2) {
  margin-top: 16px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-bottom: 8px;
}
.related-wrapper .related-bottom p:nth-child(3) {
  color: var(--Secondary-2, #DB4444);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.related-wrapper .related-bottom p:nth-child(3) span:last-child {
  color: var(--Button, #000);
  opacity: 0.5;
  text-decoration-line: line-through;
}

.table-wrapper {
  margin-top: 104px;
}
.table-wrapper .table-box1 {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 84px;
}
.table-wrapper .table-box2 {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  margin-bottom: 88px;
}
.table-wrapper .table-box2 div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.table-wrapper .table-box2 div img {
  width: 50px;
  height: 44px;
}
.table-wrapper .table-box2 input {
  padding: 10px;
  width: 72px !important;
  margin-right: 100px;
}

.table-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.table-button button {
  height: 56px;
  width: 218px;
  padding: 16px 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  background-color: transparent;
}
.table-button button:hover {
  cursor: pointer;
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}

.total-wrapper {
  justify-content: space-between;
  display: flex;
  gap: 173px;
  margin-bottom: 140px;
}
.total-wrapper .total-left {
  width: 527px;
}
.total-wrapper .total-left input {
  width: 300px;
  padding: 16px 24px;
}
.total-wrapper .total-left button {
  width: 211px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  background-color: transparent;
}
.total-wrapper .total-left button:hover {
  cursor: pointer;
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}
.total-wrapper .total-right {
  width: 470px;
  padding: 32px 24px;
  border: 1px solid black;
}
.total-wrapper .total-right h4 {
  color: var(--Text2, #000);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  margin-bottom: 24px;
}
.total-wrapper .total-right p:nth-child(2) {
  justify-content: space-between;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}
.total-wrapper .total-right p:nth-child(3) {
  justify-content: space-between;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}
.total-wrapper .total-right p:nth-child(4) {
  justify-content: space-between;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 16px;
}
.total-wrapper .total-right button {
  display: block;
  margin: 0 auto;
  width: 211px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  background-color: transparent;
}
.total-wrapper .total-right button:hover {
  cursor: pointer;
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}

.h3-biling {
  margin-top: 80px !important;
  color: var(--Text2, #000);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 83.333% */
  letter-spacing: 1.44px;
  margin-bottom: 48px;
}

.checkout-wrapper {
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  gap: 173px;
}
.checkout-wrapper .checkout-left label p {
  opacity: 0.4;
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 10px;
}
.checkout-wrapper .checkout-left label input {
  width: 450px;
  height: 50px;
  border: none;
  background: #F5F5F5;
  margin-bottom: 32px;
  padding: 0 10px;
}
.checkout-wrapper .checkout-left label:last-child {
  gap: 16px;
}
.checkout-wrapper .checkout-left label:last-child input {
  width: 24px;
  height: 24px;
}
.checkout-wrapper .checkout-left label:last-child p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 1;
}
.checkout-wrapper .checkout-right {
  width: 507px;
}
.checkout-wrapper .checkout-right div:nth-child(1) {
  width: 405px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  align-items: center;
  display: flex;
}
.checkout-wrapper .checkout-right div:nth-child(1) div {
  display: flex;
  align-items: center;
  gap: 24px;
}
.checkout-wrapper .checkout-right div:nth-child(1) div img {
  width: 54px;
  height: 44px;
}
.checkout-wrapper .checkout-right div:nth-child(2) {
  width: 405px;
  margin-top: 32px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  align-items: center;
  display: flex;
}
.checkout-wrapper .checkout-right div:nth-child(2) div {
  display: flex;
  align-items: center;
  gap: 24px;
}
.checkout-wrapper .checkout-right div:nth-child(2) div img {
  width: 54px;
  height: 44px;
}
.checkout-wrapper .checkout-right p:nth-child(3) {
  width: 405px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 16px;
}
.checkout-wrapper .checkout-right p:nth-child(4) {
  width: 405px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 16px;
}
.checkout-wrapper .checkout-right p:nth-child(5) {
  width: 405px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 34px;
}
.checkout-wrapper .checkout-right div:nth-child(6) {
  width: 405px;
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-wrapper .checkout-right div:nth-child(6) div {
  align-items: center;
  display: flex;
  gap: 16px;
}
.checkout-wrapper .checkout-right div:nth-child(6) ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkout-wrapper .checkout-right div:nth-child(6) ul li img {
  width: 32px;
  height: 18px;
}
.checkout-wrapper .checkout-right div:nth-child(7) {
  width: 425px;
  display: flex;
  gap: 15px;
  margin-bottom: 23px;
}
.checkout-wrapper .checkout-right div:nth-child(8) {
  margin-bottom: 32px;
  justify-content: space-between;
  display: flex;
  gap: 16px;
}
.checkout-wrapper .checkout-right div:nth-child(8) label input {
  height: 56px;
  width: 300px;
  padding: 16px 10px 16px 24px;
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.5;
}
.checkout-wrapper .checkout-right div:nth-child(8) button {
  width: 211px;
  height: 56px;
  padding: 16px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  cursor: pointer;
}
.checkout-wrapper .checkout-right div:nth-child(8) button:hover {
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}
.checkout-wrapper .checkout-right button:last-child {
  padding: 16px 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  height: 56px;
  cursor: pointer;
}
.checkout-wrapper .checkout-right button:last-child:hover {
  background-color: #DB4444;
  color: white;
  transition: all 0.1s linear;
  border: none;
}

.accaunt-title {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.accaunt-title p:first-child {
  color: var(--Text2, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  opacity: 0.5;
}
.accaunt-title p:last-child {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.accaunt-title p:last-child span:last-child {
  color: red;
}

.accaunt-wrapper {
  display: flex;
  justify-content: space-between;
}
.accaunt-wrapper .accaunt-left ul li {
  margin-bottom: 16px;
}
.accaunt-wrapper .accaunt-left ul li a {
  color: var(--Text2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.accaunt-wrapper .accaunt-left ul .listt {
  margin-left: 35px;
  opacity: 0.5;
}
.accaunt-wrapper .accaunt-right {
  padding: 40px 80px;
  width: 870px;
}
.accaunt-wrapper .accaunt-right h4 {
  color: var(--Secondary-2, #DB4444);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  margin-bottom: 16px;
}
.accaunt-wrapper .accaunt-right div {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.accaunt-wrapper .accaunt-right div div {
  display: block;
}
.accaunt-wrapper .accaunt-right div div p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 8px;
}
.accaunt-wrapper .accaunt-right div div input {
  border: none;
  background: #F5F5F5;
  width: 330px;
  padding: 13px;
}
.accaunt-wrapper .accaunt-right p:nth-child(4) {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 25px;
}
.accaunt-wrapper .accaunt-right .i1 {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 13px 16px;
  border: none;
  background: #F5F5F5;
}
.accaunt-wrapper .accaunt-right .accaunt-button {
  margin-top: 24px;
  display: flex;
  justify-content: end;
  gap: 32px;
}
.accaunt-wrapper .accaunt-right .accaunt-button button {
  padding: 16px 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.accaunt-wrapper .accaunt-right .accaunt-button button:hover {
  background-color: #DB4444;
  border: none;
  color: white;
  transition: all 0.1s linear;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */